extends layout

block body
  section.pure-u-4-4(data-ng-controller='AppCtrl')
    h2 {{name}}
    include main/menu

    section(data-ng-view)

    section
      | MEAN seed app: v
      span(app-version)

  include main/js-block
