p 
  span Name: 
  span {{beer.name}}
  br
  span Category: 
  span {{beer.category}}
  br
  span ABV:
  span {{beer.abv}}
  br
  span brewery: 
  span {{beer.brewery.name}}
  br
  span Description: 
  span {{beer.description}}
  br
  a(href='/beers/{{beer._id}}/edit') Edit
  br
  a(href='/beers/{{beer._id}}/remove') Remove




    
