script(src='js/lib/angular/angular.js')
script(src='js/app.js')
script(src='js/services.js')
script(src='js/controllers.js')
script(src='js/filters.js')
script(src='js/directives.js')
//- Modules
script(src='js/modules/beers/controllers.js')
script(src='js/modules/beers/services.js')