nav(role='”navigation”')
  ul.menu(role='menubar')
    li(role='presentation')
      a(role='menuitem', href='beers') List
    li(role='presentation')
      a(role='menuitem', href='beers/create') Add