<!DOCTYPE html>
html(lang='en', ng-app='myApp')
head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Power Event
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bower_components/html5-boilerplate/dist/css/normalize.css')
    link(rel='stylesheet', href='bower_components/html5-boilerplate/dist/css/main.css')
    script(src='bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js')
  body
    h1 MEAN SEED - Layout
    nav
      ul
        li
          a(href='/groups') Groups
    div(data-ng-view='')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='js/app.js')
    script(src='js/modules/groups/service.js')
    script(src='js/modules/groups/controllers.js')
    script(src='js/modules/groups/index.js')
