nav(role='”navigation”')
  ul.menu(role='menubar')
    li(role='presentation')
      a(role='menuitem', href='beers') Beers List
    li(role='presentation')
      a(role='menuitem', href='beers/create') Beers Add
    li(role='presentation')
      a(role='menuitem', href='breweries') Breweries List
    li(role='presentation')
      a(role='menuitem', href='breweries/create') Breweries Add