nav(role='”navigation”')
  ul.menu(role='menubar')
    li(role='presentation')
      a(role='menuitem', href='applications') Applications List
    li(role='presentation')
      a(role='menuitem', href='applications/create') Add Application
    li(role='presentation')
      a(role='menuitem', href='issues') Issues List
    li(role='presentation')
      a(role='menuitem', href='issues/create') Add Issue