p 
  span Name: 
  span {{brewery.name}}
  br
  span URL: 
  a(href='{{brewery.url}}') {{brewery.url}}
  br
  a(href='/breweries/{{brewery._id}}/edit') Edit
  br
  a(href='/breweries/{{brewery._id}}/remove') Remove




    
