section.pure-g
    article.pure-u-1-3
    article.pure-u-1-3
        h3.title Create Issue
        p {{message}}

        include form

        button.btn.btn-lg(data-ng-click='create(issue)') Create
    article.pure-u-1-3